.content {
  margin: 5px auto;
  background-color: var(--content-box);
  border-radius: 20px;
  width: 98%;
  height: 90vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow: scroll;
  border: 2px solid var(--border);
  box-shadow: inset 2px 5px 20px var(--shadow-content);
}
