/* src/features/AccordionMenu/ui/AccordionMenu.module.css */
.accordionContainer {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease,
    margin 0.3s ease;
  z-index: 10; /* Выше Header */
  position: relative;
  display: flex;
}

.accordionContainer.open {
  max-height: 80vh;
  padding: 20px;
  margin: 14px auto;
  overflow-y: auto;
}

.accordionContainer.closed {
  max-height: 0;
  padding: 0;
  margin: 0 auto;
}

.section {
  flex: 1; /* Равномерное распределение на десктопе */
  min-width: 0; /* Предотвращает переполнение */
}

.nevaSection,
.xSolutionSection {
  transition: opacity 0.3s ease, transform 0.3s ease; /* Плавная анимация */
}

.menuTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sectionTitleWrapper {
  display: flex;
  gap: 10px;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
  color: var(--foreground);
}

.purpleLiquid {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--foreground);
  object-fit: cover;
}

.toggleButton {
  display: none;
  cursor: pointer;
  background-color: var(--content-box);
}

.toggleIcon {
  color: var(--foreground);
  font-size: 20px;
}

.accordion {
  width: 100%;
}

.subcategoryColumn {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #cbcbcb;
  max-height: none; /* Убираем ограничение высоты */
  overflow: visible; /* Обеспечиваем видимость содержимого */
}

.subcategory h4 {
  font-size: 14px;
  color: var(--foreground);
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
  border-radius: 10px;
}

.subcategory h4:hover {
  background-color: var(--muted);
}

.subcategory ul {
  list-style: none;
  padding: 0;
}

.subcategory li {
  padding: 5px 0;
  font-size: 14px;
  color: var(--muted-foreground);
  cursor: pointer;
}

@media (max-width: 768px) {
  .accordionContainer {
    display: block;
    height: 60vh;
  }

  .section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .nevaSection {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }

  .xSolutionSection {
    display: block;
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
  }

  .nevaSection.hidden {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
  }

  .xSolutionSection.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .toggleButton {
    display: flex;
    padding: 10px;
  }
}
